@page
@model DoThanhBo_Net1606_A02_Razor.Pages.Admin.CarRentalManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Car Rental Management</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarRental[0].PickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarRental[0].ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarRental[0].RentPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarRental[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarRental[0].Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarRental[0].Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CarRental) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FormattedPickupDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormattedReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            </td>
        </tr>
}
    </tbody>
</table>
